
body{
 margin: 2;
 padding: 2;
}
 
body{ /* Normal  */
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  font-style: normal
}
  
td {  /* Table  */
  font-size: 14px;
}

h1.title {
  font-size: 20px;
}

h1 { /* Header 1 */
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: DarkBlue;
}

h2 { /* Header 2 */
  font-size: 14px;
  color: Dark;
}

h3 { /* Header 3 */
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: DarkBlue;
}

h4 { /* Header 4 */
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  color: DarkBlue;
}

code.r{ /* Code block */
  font-size: 12px;
}

pre { /* Code block - determines code spacing between lines */
  font-size: 14px;
}